/* Color scheme retro: #fad089, #ff9c5b, #ed303c, #3b8183, #2b696b */
/*              pale yellow, yellow, red, pale cyan, cyan */

body {
    margin: 60px auto;
    width: 50%;
    background-color: #fad089;
}

/* Code blocks */
pre code {
    background-color: #ff9c5b;
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    border: 1px solid #3b8183;
    padding: 10px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 1px solid #ff9c5b;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
    line-height: 1.1em;
}

ul.posts li {
    font-size: 1em;
    line-height: 1.1em;
    list-style: none;
}
