
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<html lang="en">
  <head>
    <link rel="alternate" type="application/rss+xml" href="https://magnushansson.xyz/feed.xml" />
    <!-- ... -->
  </head>
  <body>
    <!-- ... -->
    <a href="https://magnushansson.xyz/feed.xml">RSS feed.</a>
    <!-- ... -->
  </body>
